/*
Bismillahir Rahmanir Rahim
Nafis Khan Chowdhury
Issue Tracker System
style.css
Date - 04/12/2020
Time - 10:07 PM
*/





.header{
    text-align: center;
}

.new-issue{
    margin: 50px;
}

.jumbotron label{
    font-weight: 600;
}

.jumbotron{
    margin-bottom: 30px;
}

.tracker-buttons{
    margin-bottom: 30px;
    justify-content: center;
}

.search input{
    width: 100%;
    margin-bottom: 30px;
}

.search input ::placeholder{
}